[submodule "deps/math"]
	path = deps/math
	url = https://github.com/giuliom95/math
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json/
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/rtryan98/glad
	branch = master
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
	branch = 3.3-stable
